.nav{
    background-color: #2A41E8;
    height:54px;
}
.warp{
    width: 1930px;
    margin: 0px auto;
}
.nav_ul1{
    float: left;

}
.nav_ul1 li{
    float: left;
    line-height: 54px;
    margin-left: 60px;
}
.nav_ul1 a{
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}
.nav_ul2{
    float: right;
}
.nav_ul2 li{
    float: right;
    line-height: 54px;
    margin-right: 28px;
    padding-right: 20px;
}
.nav_ul2 a{
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}
.casaRoyl{
    height: 82px;
    background-color: #FFFFFF;
}
.all{
    width:1800px;
    margin: 0px auto;
}
.all li{
    float:left;
    line-height: 82px;
    width:40.9px;
    height:36px;
}
.picture1{
    top:95px;
    width:36px;
    height:40.9px;
    float: left;
}
.casaRoyalfont{
    font-family: Helvetica;
    font-size: 28px;
    color: #4B4D4F;
    height:34px;
    text-align: left;
}
.all li{
    line-height: 82px;
    margin-left:auto ;
}
.bar{
    width:1880px;
    height:82px;
    margin: 0px auto;
    padding-right: 48px;
}
.bar_u{
    float: left;
}
.bar_u li{
    float: left;
    line-height: 82px;
    margin-left: 48px;
    font-family: Helvetica;
    font-size: 14px;
    color: #4B4D4F;
    text-align: left;
}
.bar_l{
    float:right;
}
.bar_l li{
    float: right;
    line-height: 82px;
    margin-left: 150px;
    font-family: Helvetica;
    font-size: 14px;
    color: #4B4D4F;
    text-align: left;
}
.bar_1 a{
    float:right;
}
.bar span{
    float: left;
    line-height: 82px;
    margin-left: 48px;
    font-family: Helvetica;
    font-size: 14px;
    color: #4B4D4F;
    text-align: left;
}
.background_color{
    background: #FF5E14;
    width:199px;
    height:82px;
    position: absolute;
    right:0px;
    top:54px;
}